.searchBox {
  margin-left: auto;
  box-shadow: 0px 4px 4px #cccbcb;
  border-radius: 16.5px;
  width: 30%;
  background: #262f24;
}
@media screen and (max-width: 991px) {
  .searchBox {
    width: 40%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0px;
  }
}
@media screen and (max-width: 420px) {
  .searchBox {
    width: 65%;
  }
}

.searchButton {
  white-space: nowrap;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 16.5px 0 0 16.5px;
  color: white;
}

.searchInput {
  white-space: nowrap;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  padding-top: 4px;
  padding-left: 6px;
  border-radius: 0 16.5px 16.5px 0;
  color: white;
}

::placeholder {
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
