.loginScreen {
  background: #fcfcfc;
  box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 49px;
  padding: 15px 35px;
  margin-top: 20px;
}

.login-btn {
  padding: 0.42rem 2.4rem;
  color: black;
  text-transform: none;
  font-size: 18px;
  background: #a7fb53;
  font-family: Poppins;
  font-weight: 400;
  box-shadow: 0px 4px 4px #a6a5a5;
  border-radius: 30px;
}
