.productName {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 54px;
}

.productImg {
  width: 100%;
  height: 80%;
}

.reviewsBtn {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  color: black;
  padding: 0.5rem 1.5rem;
}

.cart-btn {
  background: #a7fb53;
  box-shadow: 0px 4px 4px #a6a5a5;
}
