.App {
  background: #E5E5E5;
  font-family: Poppins;
  font-weight: 300;
  color: black;
}

#background {
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: center;
  padding-top: 6vh;
}

#content {
  z-index: 1;
}

#bg-text {
  font-family: Playfair Display;
  font-weight: 400;
  color: lightgrey;
  font-size: 65px;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 820px) {
  #bg-text {
    padding-top: 3vh;
    font-size: 40px;
  }
}
@media screen and (max-width: 425px) {
  #bg-text {
    padding-top: 6vh;
    font-size: 20px;
  }
}
